{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}

<style>
    .field-set input[type="file"] {
        display: none;
    }

</style>

<div class="main-content">
    <div class="container-fluid">
        <div class="top-hd-table">
            <div class="overview-wrap">
                <div class="back-main">
                    <div class="">
                        <a href="{% url 'ManageStaff' %}"><i class="fa fa-caret-left"></i></a>
                    </div>
                    <div class="">
                        <h6>Add Staff</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card table-card">
                    <div class="card-body">
                        <form action="" method="post" class="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{ user.id }}">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="field-set mb-0">
                                        <label for="image" class="imageee">Update Image:
                                            <div class="profile-image" id="front_images3">
                                                {% if data.image %}
                                                <img src="{{ user.image.url }}" alt="User Image" style="height: 100%;"
                                                    id="front_image3">
                                                {% else %}
                                                <img src="{% static 'dashboard/images/icon/default.png' %}" alt="User Image" id="front_image3">
                                                {% endif %}
                                            </div>
                                        </label>
                                        <input type="file" id="image" name="image" class="form-control-file "
                                            accept="image/*"
                                            onchange="front_show(event, 'front_image3', 'front_images3')">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="field-set">
                                        <label for="username">User Name:</label>
                                        <input type="text" id="username" name="username" placeholder="Enter Username"
                                            class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="field-set">
                                        <label for="email">Email:</label>
                                        <input type="email" id="email" name="email" placeholder="Enter Email"
                                            class="form-control" required
                                            pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="field-set">
                                        <label for="first_name">First Name:</label>
                                        <input type="text" id="first_name" name="first_name"
                                            placeholder="Enter First Name" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="field-set">
                                        <label for="last_name">Last Name:</label>
                                        <input type="text" id="last_name" name="last_name" placeholder="Enter Last Name"
                                            class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="field-set">
                                        <label for="phone_number">Phone Number:</label>
                                        <input type="text" id="phone_number" name="phone_number"
                                            placeholder="Enter Phone Number" class="form-control" pattern="^\+?[0-9]*$"
                                            required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="field-set">
                                        <label for="selectLg">Ticket Type:</label>
                                        <select name="solveticket_title" id="solveticket_title" class="form-control"
                                            required>
                                            <option value="" disabled selected>Select Ticket Type</option>
                                            <option value="Sale">Sale</option>
                                            <option value="Product">Product</option>
                                            <option value="Customer">Customer</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="field-set">
                                        <label for="password">Password:</label>
                                        <input type="password" id="password" name="password"
                                            placeholder="Enter Password" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="submit-btn">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Disable the validation of the jQuery Validate library.
    $(document).ready(function () {
        $.validator.setDefaults({
            ignore: []
        });
    });
    // Validate the select element using JavaScript.
    $(document).ready(function () {
        $('#selectLg').on('change', function () {
            if ($(this).val() === '') {
                // Prevent the form from submitting.
                event.preventDefault();

                // Display an error message.
                alert('Please select a ticket type.');
            }
        });
    });
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4000);
    document.getElementById('phone_number').addEventListener('input', function (e) {
        this.value = this.value.replace(/[^0-9+]/g, '');
    });
</script>
{% endblock content %}