{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<!-- MAIN CONTENT-->

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="cards_head">
          <div class="">
            <h2>Staff List</h2>
          </div>
          <div class="adduser_btn adduser_btnnn">
            <a href="{% url 'AddStaff' %}" class="m-0"> <i class="zmdi zmdi-plus"></i>Add Staff</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card table-card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-borderless table-striped table-earning" id="mytablestaffdata">
                <thead>
                  <tr>
                    <th>Sr.No.</th>
                    <th>Username</th>
                    <th>Details</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data in userdatas %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{data.username}}</td>
                    <td>
                      <a href="{% url 'ShowStaffDetails' data.id %}">
                        <span class="role "><i class="fas fa-eye"></i></span>
                      </a>
                    </td>
                    <td>{{data.email}}</td>
                    <td>{{data.phone_number}}</td>
                    <td>
                      <a href="{% url 'UpdateStaffDetails' data.id %}">
                        <i class="fas fa-edit"></i>
                      </a>
                      <a href="{% url 'DeleteStaffDetails' data.id %}"
                        onclick="return confirm('Are you sure you want to delete..');">
                        <i class="fas fa-trash-alt"></i>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#mytablestaffdata').DataTable({

      language: {
        searchPlaceholder: "Type here..."

      }
    });
  });
  window.setTimeout(function () {
    $(".alert").fadeTo(500, 0).slideUp(500, function () {
      $(this).remove();
    });
  }, 4000);
</script>
{% endblock content %}