{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}

<style>
  .dropdown {
    position: relative;
    font-size: 14px;
    color: #5e5873;
  }
  .dropdown-list a {
    color: #5e5873;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .dropdown-list {
    padding: 12px;
    background: #fff;
    position: absolute;
    top: 30px;
    left: 2px;
    right: 2px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .15);
    transform-origin: 50% 0;
    transform: scale(1, 0);
    transition: transform .15s ease-in-out .15s;
    max-height: 26vh;
    overflow-y: scroll;
  }
  .dropdown-list::-webkit-scrollbar {
    width: 5px;
  }
  .dropdown-list::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 5px;
  }
  .dropdown-option {
    display: block;
    opacity: 0;
    transition: opacity .15s ease-in-out;
  }
  .dropdown-label {
    display: block;
    height: 39px;
    background: #fff;
    border: 1px solid #ced4da;
    padding: 10px 12px;
    line-height: 1;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
  }
  .dropdown-label:before {
    content: '▼';
    font-size: 10px;
    position: absolute;
    right: 12px;
    top: 13px;
    color: #424244;
  }
  .dropdown.on .dropdown-list {
    transform: scale(1, 1);
    transition-delay: 0s;
  }
  .dropdown.on .dropdown-list .dropdown-option {
    opacity: 1;
    transition-delay: .2s;
  }
  .dropdown.on .dropdown-label:before {
    content: '▲';
  }
  [type="checkbox"] {
    vertical-align: middle;
    margin-right: 10px;
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: var(--bs-text-color) !important;
    font-weight: 600;
  }
  .nav-tabs .nav-link{
    color: #5e5873;
    font-weight: 600;
  }
 .nav-tabs .nav-link:hover{
    color: var(--bs-text-color) !important;
    font-weight: 600;
  }
  .noti-sec{
    padding: 20px 0px;
  }
</style>

<div class="main-content">
  <div class="container-fluid ">
    <div class="top-hd-table">
      <div class="overview-wrap">
        <div class="back-main">
          <div class="">
            <a href="{% url 'NotificationLists' %}"><i class="fa fa-caret-left"></i></a>
          </div>
          <div class="">
            <h6>Add Notification</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card table-card">
          <div class="card-body">
            <nav class="mt-4">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                  aria-controls="nav-home" aria-selected="true">All</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                  aria-controls="nav-profile" aria-selected="false">Clients</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                  aria-controls="nav-contact" aria-selected="false">Staff</a>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="card-body noti-sec">
                  <form action="" method="post" class="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6">
                        <div class="field-set">
                          <label for="title">Title:</label>
                          <input type="text" id="title" name="title" placeholder="Enter Title" class="form-control" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="field-set">
                          <label for="description">Description:</label>
                          <input type="text" id="description" name="description" placeholder="Enter Message...."
                            class="form-control" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="field-set">
                          <label for="description">All Recepient:</label>
                          <div class="dropdown" data-control="checkbox-dropdown">
                            <label class="dropdown-label">Select</label>
                            <div class="dropdown-list">
                              <a href="#" data-toggle="check-all" class="dropdown-option">
                                Check All
                              </a>
                              {% for user in user_datas %}
                              <label class="dropdown-option">
                                <input type="checkbox" name="selected_users" value="{{ user.id }}">{{ user.username }}
                              </label>
                              {% endfor %}
                            </div>
                          </div>
                      </div>
                      </div>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="submit-btn">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="card-body noti-sec">
                  <form action="" method="post" class="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6">
                        <div class="field-set">
                          <label for="title">Title:</label>
                          <input type="text" id="title" name="title" placeholder="Enter Title" class="form-control" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="field-set">
                          <label for="description">Description:</label>
                          <input type="text" id="description" name="description" placeholder="Enter Message...."
                            class="form-control" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="field-set">
                          <label for="description">All Recepient:</label>
                          <div class="dropdown" data-control="checkbox-dropdown">
                            <label class="dropdown-label">Select</label>
                            <div class="dropdown-list">
                              <a href="#" data-toggle="check-all" class="dropdown-option">
                                Check All
                              </a>
                              {% for user in clientdatas %}
                              <label class="dropdown-option">
                                <input type="checkbox" name="selected_users" value="{{ user.id }}">{{ user.username }}
                              </label>
                              {% endfor %}
                            </div>
                          </div>
                      </div>
                      </div>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="submit-btn">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="card-body noti-sec">
                  <form action="" method="post" class="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6">
                        <div class="field-set">
                          <label for="title">Title:</label>
                          <input type="text" id="title" name="title" placeholder="Enter Title" class="form-control" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="field-set">
                          <label for="description">Description:</label>
                          <input type="text" id="description" name="description" placeholder="Enter Message...."
                            class="form-control" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="field-set">
                          <label for="description">All Recepient:</label>
                          <div class="dropdown" data-control="checkbox-dropdown">
                            <label class="dropdown-label">Select</label>
                            <div class="dropdown-list">
                              <a href="#" data-toggle="check-all" class="dropdown-option">
                                Check All
                              </a>
                              {% for user in staffdatas %}
                              <label class="dropdown-option">
                                <input type="checkbox" name="selected_users" value="{{ user.id }}">{{ user.username }}
                              </label>
                              {% endfor %}
                            </div>
                          </div>
                      </div>
                      </div>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="submit-btn">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<script>
  (function ($) {
    var CheckboxDropdown = function (el) {
      var _this = this;
      this.isOpen = false;
      this.areAllChecked = false;
      this.$el = $(el);
      this.$label = this.$el.find('.dropdown-label');
      this.$checkAll = this.$el.find('[data-toggle="check-all"]').first();
      this.$inputs = this.$el.find('[type="checkbox"]');

      this.onCheckBox();

      this.$label.on('click', function (e) {
        e.preventDefault();
        _this.toggleOpen();
      });

      this.$checkAll.on('click', function (e) {
        e.preventDefault();
        _this.onCheckAll();
      });

      this.$inputs.on('change', function (e) {
        _this.onCheckBox();
      });
    };

    CheckboxDropdown.prototype.onCheckBox = function () {
      this.updateStatus();
    };

    CheckboxDropdown.prototype.updateStatus = function () {
      var checked = this.$el.find(':checked');

      this.areAllChecked = false;
      this.$checkAll.html('Check All');

      if (checked.length <= 0) {
        this.$label.html('Select Options');
      }
      else if (checked.length === 1) {
        this.$label.html(checked.parent('label').text());
      }
      else if (checked.length === this.$inputs.length) {
        this.$label.html('All Selected');
        this.areAllChecked = true;
        this.$checkAll.html('Uncheck All');
      }
      else {
        this.$label.html(checked.length + ' Selected');
      }
    };

    CheckboxDropdown.prototype.onCheckAll = function (checkAll) {
      if (!this.areAllChecked || checkAll) {
        this.areAllChecked = true;
        this.$checkAll.html('Uncheck All');
        this.$inputs.prop('checked', true);
      }
      else {
        this.areAllChecked = false;
        this.$checkAll.html('Check All');
        this.$inputs.prop('checked', false);
      }

      this.updateStatus();
    };

    CheckboxDropdown.prototype.toggleOpen = function (forceOpen) {
      var _this = this;

      if (!this.isOpen || forceOpen) {
        this.isOpen = true;
        this.$el.addClass('on');
        $(document).on('click', function (e) {
          if (!$(e.target).closest('[data-control]').length) {
            _this.toggleOpen();
          }
        });
      }
      else {
        this.isOpen = false;
        this.$el.removeClass('on');
        $(document).off('click');
      }
    };

    var checkboxesDropdowns = document.querySelectorAll('[data-control="checkbox-dropdown"]');
    for (var i = 0, length = checkboxesDropdowns.length; i < length; i++) {
      new CheckboxDropdown(checkboxesDropdowns[i]);
    }
  })(jQuery);

  // Notification hide
  $(document).ready(function () {
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 4000);
  });
</script>
{% endblock content %}