{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<!-- MAIN CONTENT-->

<div class="main-content">
  <div class="container-fluid">
    <div id="error-container">
      {% if messages %}
      <div class="alert alert-danger" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="cards_head">
          <div class="">
            <h2>Notification List</h2>
          </div>
          <div class="adduser_btn adduser_btnnn">
            <a href="{% url 'AddNotification' %}" class="m-0"> <i class="zmdi zmdi-plus"></i>Add Notification</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card table-card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-borderless table-striped table-earning" id="mytablenotifidata">
                <thead>
                  <tr>
                    <th>Sr.No.</th>
                    <th>Receiver</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Created At</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data in notifidetails %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{data.receiver.username}}</td>
                    <td>{{data.notification_title}}</td>
                    <td>{{data.notification_description|truncatewords:3}}</td>
                    <td>{{data.created_at}}</td>
                    <td>
                      <a href="{% url 'DeleteAdminNotification' data.id %}"
                        onclick="return confirm('Are you sure you want to delete..');">
                        <i class="fas fa-trash-alt"></i>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#mytablenotifidata').DataTable({

      language: {
        searchPlaceholder: "Type here..."

      }
    });
  });
  window.setTimeout(function () {
    $(".alert").fadeTo(500, 0).slideUp(500, function () {
      $(this).remove();
    });
  }, 4000);
</script>
{% endblock content %}