{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<style>
    .formchangepassword{
        width: 476px;
       background-color: white;
       box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 12px;
        padding: 20px;
    }
</style>

<div class="main-content">
    <div class="container-fluid">
        <div class="top-hd-table">
            <div class="overview-wrap">
                <div class="back-main">
                    <div class="">
                        <a href="{% url 'AdminDashboard' %}"><i class="fa fa-caret-left"></i></a>
                    </div>
                    <div class="">
                        <h6>Change Password</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                    <div class="formchangepassword" >
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="field-set">
                                        <label for="old_password">Old Password:</label>
                                        <input type="password" id="old_password" name="old_password"
                                            placeholder="**********" class="form-control " required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="field-set">
                                            <label for="password">New Password:</label>
                                            <input type="password" id="password" name="password"
                                            placeholder="**********" class="form-control " required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="field-set">
                                            <label for="confirm_password">Confirm Password : </label>
                                            <input type="password" id="confirm_password" name="confirm_password"
                                                placeholder="**********" class="form-control " required>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                    <button type="submit" class="submit-btn">Submit</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4000); 
</script>

{% endblock content %}