{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}


<div class="main-content">
    <div class="container-fluid">
        <div id="error-container">
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="top-hd-table">
            <div class="overview-wrap">
                <div class="back-main">
                    <div class="">
                        <a href="{% url 'NotificationLists' %}"><i class="fa fa-caret-left"></i></a>
                    </div>
                    <div class="">
                        <h6>Change Password</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card table-card">
                    <div class="card-body">
                        <form action="" method="post" class="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="field-set">
                                        <label for="old_password">Old Password:</label>
                                        <input type="password" id="old_password" name="old_password"
                                            placeholder="Enter Old Password" class="form-control " required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="field-set">
                                            <label for="password">New Password:</label>
                                            <input type="password" id="password" name="password"
                                            placeholder="Enter New Password" class="form-control " required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="field-set">
                                            <label for="confirm_password">Confirm Password : </label>
                                            <input type="password" id="confirm_password" name="confirm_password"
                                                placeholder="Confirm Password" class="form-control " required>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                    <button type="submit" class="submit-btn">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4000); 
</script>

{% endblock content %}