{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}


<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid p-1">
            <div id="error-container">
                {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <div class="user_profile">
                        <div class="card-header">
                            <h5>Change Password</h5>
                        </div>
                        <div class="card-body">
                            <form action="" method="post" class="" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="bottom_border">
                                    <div class="row align-items-center">
                                        <div class="col-lg-6">
                                            <label for="old_password">Old Password : </label>
                                            <input type="password" id="old_password" name="old_password"
                                            placeholder="Enter Old Password" class="form-control " required>
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="password">New Password : </label>
                                            <input type="password" id="password" name="password"
                                            placeholder="Enter New Password" class="form-control " required>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom_border">
                                    <div class="row align-items-center">
                                        <div class="col-lg-6">
                                            <label for="confirm_password">Confirm Password : </label>
                                            <input type="password" id="confirm_password" name="confirm_password"
                                            placeholder="Confirm Password" class="form-control " required>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="Submit" class=" btn submit_btn">Change Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });
    }, 4000); 
</script>

{% endblock content %}