{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<style>
  .headbuttonactive {
    background: linear-gradient(
      90deg,
      rgba(211, 223, 250, 1) 0%,
      rgba(215, 242, 241, 1) 100%
    )!important; 
    color : #1f2937 !important;
  }

  .headbuttonexport {
    background: 
    rgb(182, 223, 221) 100%
   !important; 
  }
</style>

<!-- MAIN CONTENT-->

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="cards_head">
          <div class="">
            <h2>Ticket List</h2>
          </div>
           <!-- <div class="adduser_btn adduser_btnnn">
            <a href="#" class="m-0"> <i class="zmdi zmdi-plus"></i>Add New</a>
          </div> -->
        </div>
        <div class="user_list">
          <a href="{% url 'RaiseTicketList' %}" class="{{bright1}}">Tickets</a>
          <a href="{% url 'RaiseIssueList' %}" class="{{bright2}}">All Issue</a>
          <a href="{% url 'RaiseRequestList' %}" class="{{bright3}}">All Request</a>
          <a href="{% url 'ExportAllTicket' %}">Export</a>
        </div>
        <!-- <div class="filter_btns">
          <div class="export_btn">
              
          </div>
      </div> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card table-card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-borderless table-striped table-earning" id="mytableticketdata">
                <thead>
                  <tr>
                    <th>Sr.No.</th>
                    <th>Refrence Number</th>
                    <th>Details</th>
                    <th>Request/Issue</th>
                    <th>Chat</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data in ticketdetails %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{data.ticket_number}}</td>
                    <td>
                      <a href="{% url 'TicketDetailPage' data.id %}">
                        <span class="role ">
                          <i class="fas fa-eye"></i>
                        </span>
                      </a>
                    </td>
                    <td>{{data.ticket_type}}</td>
                    <td><a href="{% url 'ChatSendReceive' data.id %}">
                        <span class="role ">
                          <i class="fas fa-comments"></i>
                        </span> 
                      </a></td>
                      <td>{{data.submission_status}}</td>
                    <td>
                      <a href="{% url 'TicketUpdateDetails' data.id %}">
                        <i class="fas fa-edit"></i>
                      </a>
                      <a href="{% url 'TicketParticularDelete' data.id %}"
                        onclick="return confirm('Are you sure you want to delete..');">
                        <i class="fas fa-trash-alt"></i>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#mytableticketdata').DataTable({

      language: {
        searchPlaceholder: "Type here..."

      }
    });
  });
  window.setTimeout(function () {
    $(".alert").fadeTo(500, 0).slideUp(500, function () {
      $(this).remove();
    });
  }, 4000);
</script>
{% endblock content %}