{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<div class="main-content">
    <div class="container-fluid">
        <div id="error-container">
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="cards_head">
                    <div class="">
                        <h2>Ticket Feedback by User</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card table-card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-borderless table-striped table-earning"
                                id="mytableticketfeedback">
                                <thead>
                                    <tr>
                                        <th>Sr.No.</th>
                                        <th>User</th>
                                        <th>Ticket Number</th>
                                        <th>Details</th>
                                        <th>Rating</th>
                                        <th>Feedback</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in tikcetfeedbackdata %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{data.user.username}}</td>
                                        <td>{{data.ticket_id.ticket_number}}</td>
                                        <td><a href="{% url 'TicketFeedbackDetailPage' data.id %}"><span
                                                    class="role "><i class="fas fa-eye"></i>
                                                </span> </a></td>
                                        <td>{{data.satisfaction_score}}</td>
                                        <td>{{data.feedback_desciption|truncatewords:3}}</td>
                                        <td>
                                            <a href="{% url 'TicketFeedbackDelete' data.id %}"
                                                onclick="return confirm('Are you sure you want to delete..');">
                                                <i class="fas fa-trash-alt"></i> <!-- Delete icon -->
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#mytableticketfeedback').DataTable({

            language: {
                searchPlaceholder: "Type here..."

            }
        });
    });
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4000);
</script>
{% endblock content %}