{% load static %}
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

<style>
    .active {
        color: #8ea3e1 !important;
    }

    .navbar__list>li.active a {
        color: #8ea3e1;
    }


    .navbar__list>li.active {
        background-color: #f4f9fa;
    }

    ul#submenuDriver {
        margin-left: 15px;
    }

    ul#submenuBooking {
        margin-left: 15px;
    }

    ul#submenuCms {
        margin-left: 15px;
    }

    .acitveboth a {
        color: #8ea3e1 !important;
    }

    .notification-count {
        display: none;
        position: absolute;
        top: 19px;
        margin-right: 10px;
        background-color: red;
        color: white;
        font-size: 12px;
        font-weight: bold;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    .notification-count.show {
        display: flex;
    }

    .drop-list{
        padding-left: 30px !important;
    }
    .notification-icon{
        margin-right: 10px;
    }
    
    .adminimage{
        border-radius:50% !important;
    }
</style>


<body class="animation">
    <div class="page-wrapper">
        <aside class="menu-sidebar">
            <div class="paddBottom">
                <div class="logo">
                    <div class="image">
                        <img src="{% static 'dashboard/images/icon/Logo_Enyone1-removebg-preview.png' %}" alt="John Doe"
                            width="100" height="10px" style="transform: rotate(90deg);" />
                    </div>
                </div>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar navbar__list">
                    <ul class="list-unstyled navbar__list">
                        <li class="has-sub">
                            <a class="{{active1}}" href="{% url 'AdminDashboard' %}">
                                <i class="fas fa-tachometer-alt"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a class="{{active2}}" href="{% url 'ManageStaff' %}">
                                <i class="fas fa-users"></i>
                                <span>Manage Staff</span>
                            </a>
                        </li>
                        <li>
                            <a href="#submenuTickets" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle {{active3}}">
                                <i class="fas fa-calendar" style="font-weight: bold;"></i>
                                <span>Manage Tickets</span>
                            </a>
                            <ul {% if active3 %} class="collapse list-unstyled show drop-list" {% else %}
                            class="collapse list-unstyled  drop-list" {% endif %} id="submenuTickets">
                                <li>
                                    <a href="{% url 'RaiseTicketList' %}" class="{{active310}}">
                                        <i class="fas fa-table"></i>
                                        <span>Tickets</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'TicketFeedback' %}" class="{{active311}}">
                                        <i class="fas fa-star"></i>
                                        <span>Ticket Feedback</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="{{active4}}" href="{% url 'NotificationLists' %}">
                                <i class="fas fa-bell" style="font-weight: bold;"></i>
                                <span>Notifications</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <div class="main-date-time">
                                <i class="fas fa-info-circle"></i>
                                <p id="current_date"></p>
                            </div>
                            <!-- <form class="form-header" action="" method="POST">
                                {% csrf_token %}
                             </form> -->
                            <div class="header-button">
                                <a href="{% url 'Notificationreceive' %}">
                                    <div class="notification-icon">
                                        <i class="fas fa-bell" style="font-weight: bold; color:#5e5873;"></i>
                                        {% if unreadnotificationcount > 0 %}
                                        <span class="notification-count">
                                            {{ unreadnotificationcount }}
                                        </span>
                                        {% endif %}
                                    </div>
                                   
                                        
                                </a>
                                
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <!--  -->
                                        {% if request.user.image %}
                                            <div class="image">
                                                <a href="#">
                                                    <img src="{{request.user.image.url}}" alt="Profile Image" width="200"
                                                            height="200"  class="adminimage" />
                                                </a>
                                            </div>
                                        {% else %}
                                            <div class="image">
                                                <a href="#">
                                                    <img src="{% static 'dashboard/images/icon/default.png' %}" alt="Profile Image" width="200" height="200" class="adminimage" />
                                                </a>
                                            </div>
                                        {% endif %}
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">{{request.user.username}}</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                {% if request.user.image %}
                                                    <div class="image">
                                                        <a href="#" >
                                                            <img src="{{request.user.image.url}}" alt="Profile Image" width="200" height="200" class="adminimage" />
                                                        </a>
                                                    </div>
                                                {% else %}
                                                    <div class="image">
                                                        <a href="#" >
                                                            <img src="{% static 'dashboard/images/icon/default.png' %}" alt="Profile Image" width="200" height="200" class="adminimage" />
                                                        </a>
                                                    </div>
                                                {% endif %}
                                                <div class="content">
                                                    <h6 class="name mb-1">
                                                        {{request.user.username}}
                                                    </h6>
                                                    <small class="phone_number">{{request.user.phone_number}}</small>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="{% url 'AdminUpdateProfile' request.user.id %}">
                                                        <i class="zmdi zmdi-settings"></i> <b> Profile Setting </b></a>
                                                </div>
                                            </div>

                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="{% url 'AdminChangePassword' %}">
                                                        <i class="fas fa-key"></i> <b> Change Password </b></a>
                                                </div>

                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="{% url 'AdminLogOut' %}">
                                                    <i class="zmdi zmdi-power"></i><b>Logout </b></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </header>

            <script>
                window.addEventListener("scroll", () => {
                    const header = document.getElementById("header");
                    if (window.scrollY > 50) {
                        header.classList.add("scrollChangeHeader");
                        header.classList.remove("header-desktop");
                    } else {
                        header.classList.remove("scrollChangeHeader");
                        header.classList.add("header-desktop");
                    }
                });

                let currentDate = new Date();
                let months = [
                    "January", "February", "March", "April", "May", "June",
                    "July", "August", "September", "October", "November", "December"
                ];
            
                let day = currentDate.getDate();
                let month = months[currentDate.getMonth()];
                let year = currentDate.getFullYear();
            
                let formattedDate = `${month} ${day}, ${year}`;
                document.getElementById("current_date").innerHTML = formattedDate;
            
            </script>